body {
  background-color: rgb(249 250 251); /* same as bg-gray-50 */
}

.button-blur {
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0.9rem;
  cursor: pointer;
  
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(16px);
  
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.06), inset 0 1px 0 rgba(255,255,255,0.8);
  
  transition: background-color 0.3s ease-in-out;
}


.button-blur:hover {
  background-color: #f0f0f0 !important;
}

.question-mark-svg-icon {
  background-image: url(../static/question-mark-icon.svg)
}